body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
#navegador{   
    text-align: center;  
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: sticky;
    top:0;
    background: url("https://st3.depositphotos.com/32565308/36441/i/450/depositphotos_364419106-stock-photo-wide-panorama-red-wall-texture.jpg")fixed; 
    background-size: contain;
    z-index: 20;
    border:2px solid black;
}
h1{
    color: white;
}
hr{
    border: 3px solid white;
    justify-content: center;
    width: 50%;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color:white
}
#navegador li a:hover{
    color: black;
}
.redes{
    display: flex;
    list-style-type: none;
    justify-content: center;
    
}
.redes li a{
    padding: 10px;
}
.redes li a:hover img{
    height: 40px;
    transition: 0.3s ease;
}
.redes li a img{
    border-radius: 50%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.contenedor {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.header {
    grid-area: header;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.contenido {
    grid-area: main;
    padding: 20px;
}
.about h2{
    color: #d35400;
}
.linea{
    color: #d35400;
    border: 1px dotted #d35400;
    width: 90%;
}
.imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.imagenes img {
    width: 48%;
    border-radius: 5px;
}

.footer {
    grid-area: footer;
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}